@media screen and (max-width:1100px) {
  .content .col {
    width: calc(100% / 4);
  }
}


@media screen and (max-width:700px) {
  .content .col {
    width: calc(100% / 2);
  }

  footer .col.song .favorites {
    flex-direction: column;
    justify-content: center;
  }
}


@media screen and (max-width:600px) {
  .top-side .menu a span,
  .top-side .playlist,
  .top-side .menu .logo-big,
  .bottom-side a.app span,
  .bottom-side div.account h3 {
    display: none;
  }

  main .sidebar {
    width: 50px;
    padding: 5px 10px 0 0;
  }

  .top-side .menu .logo-big,
  .top-side .menu .logo-small,
  .top-side .playlist,
  .top-side .menu li a,
  .sidebar .bottom-side {
    padding-left: 10px;
  }

  main .content,
  .content .top-bar {
    width: calc(100% - 50px);
  }
  
  .top-side .menu .logo-small {
    display: block;
    margin-bottom: 10px;
  }

  .bottom-side a.app {
    border: none;
  }
}

