* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.flex {
  display: flex;
}

.f-column {
  flex-direction: column;
}

.debug {
  border: 1px solid red;
}

section.top {
  width: 100%;
  height: calc(100vh - 90px);
  overflow: hidden;
}

footer {
  width: 100%;
  height: 90px;
  background-color: #282828;
}

h3 {
  font-size: 0.8rem;
}

.top .sidebar {
  width: 230px;
  min-height: 450px;
  height: 100%;
  background-color: #000000;
  padding: 25px 20px 0 0;
}

.top .content {
  width: calc(100% - 230px);
  height: 100%;
  padding: 100px 10px 10px;
  background-color: #141922;
  overflow: auto;
}

.content .top-bar {
  position: fixed;
  width: calc(100% - 230px);
  height: 90px;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

a {
  text-decoration: none;
  font-size: 0.8rem;
}

ul {
  list-style: none;
}

/* SIDEBAR */
.top-side .menu .logo-big,
.top-side .menu .logo-small,
.top-side .playlist,
.top-side .menu li a,
.sidebar .bottom-side {
  padding-left: 20px;
}

.sidebar .top-side {
  width: 100%;
  height: calc(100% - 70px);
}

.top-side .menu {
  height: 170px;
}

.top-side .menu .logo-big {
  width: 150px;
  margin-bottom: 10px;
}

.top-side .menu .logo-small {
  display: none;
}

.top-side .menu li {
  padding: 3px 0;
}

.top-side .menu li a {
  color: #717171;
}

.top-side .menu li a svg {
  width: 25px;
  vertical-align: middle;
}

.top-side .menu li a svg *{
  fill: #717171;
}

.top-side .menu li {
  border-left: 4px solid transparent;
}

.top-side .menu li.active *{
  color: white;
  fill: white;
}

.top-side .menu li.active {
  border-color: #cffb7e;
}

.top-side .playlist {
  height: calc(100% - 170px);
  font-size: 0.8rem;
}

.top-side .playlist .new-playlist {
  cursor: pointer;
}

.top-side .playlist span {
  color: #717171;
}

.top-side .playlist i {
  color: black;
  font-size: 1.2rem;
  padding: 8px;
  background-color: #a3a3a3;
  vertical-align: middle;
  margin: 10px 10px 10px 0;
}

.playlist .list-play {
  height: calc(100% - 70px);
  overflow: auto;
}

.playlist .list-play li {
  line-height: 1.8rem;
}

.playlist .list-play a {
  color: #717171;
}

.sidebar .bottom-side {
  width: 100%;
  height: 70px;
}

.bottom-side .app,
.bottom-side .account {
  align-items: center;
}

.bottom-side img,
.bottom-side svg {
  width: 20px;
}

.bottom-side svg *{
  fill: #717171;
}

.bottom-side a.app {
  font-size: 0.8rem;
  padding-bottom: 10px;
  border-bottom: 1px solid #a3a3a3;
}

.bottom-side a.app span {
  color: #717171;
  margin-left: 10px;
}

.bottom-side div.account {
  padding-top: 10px;
}

.bottom-side div.account h3 {
  margin-left: 10px;
}

.bottom-side div.profile {
  width: 25px;
  height: 25px;
  background-color: #717171;
  border-radius: 50%;
  overflow: hidden;
}

.bottom-side div.account img {
  width: 25px;
}

.bottom-side a:hover svg *,
.top-side .menu li a:hover svg *{
  fill: white;
}

.top-side .playlist .new-playlist:hover i {
  background-color: white;
}

.bottom-side a:hover span,
.top-side .menu li a:hover span,
.top-side .playlist .new-playlist:hover span,
.playlist .list-play a:hover {
  color: white;
}
/* fine SIDEBAR */

/* CONTENT */
.content .top-bar {
  align-items: center;
  justify-content: end;
  z-index: 999;
}

.content .top-bar .upgrade {
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 220px;
  height: 40px;
  font-size: 0.8rem;
  color: white;
  border: 1px solid white;
  border-radius: 20px;
  margin-right: 20px;
  background-color: transparent;
}

.content .top-bar .upgrade:hover {
  transform: scale(1.1);
}

.content ul {
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}

.content nav ul li a {
  color: #717171;
}

.content nav ul li .active {
  align-self: center;
  margin-top: 5px;
  width: 30px;
  height: 2px;
  background-color: #cffb7e;
}

.content nav ul li a:hover {
  color: white;
}

.content .categorie {
  padding: 30px 0 20px 10px;
}

.content .categorie h1 {
  font-size: 1.5rem;
}

.content .categorie span {
  font-size: 0.8rem;
  padding-top: 20px;
}

.content .row {
  overflow: hidden;
}

.content .col {
  width: calc(100% / 6);
  min-width: calc(100% / 6);
  padding: 10px;
}

.content .card {
  cursor: pointer;
  align-items: center;
  width: 100%;
}

.content .card:hover .img .overlay {
  display: block;
}

.content .card .img,
.content .card .img img,
.content .card .img .overlay,
.content .description {
  width: 100%;
}

.content .card .img {
  position: relative;
}

.content .card .img .overlay {
  display: none;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}

.content .card .img .overlay i {
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}


.content .card .description {
  align-items: center;
}

.content .card .description .album {
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
}

.content .card .description .autore {
  text-align: center;
  font-size: 0.8rem;
  color: #717171;
}

.content .card.artisti .img {
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.content .card.artisti .description .art {
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
}


/* fine CONTENT */

/* FOOTER */
footer .row {
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0 10px;
}

footer .col {
  height: 100%;
  justify-content: center;
  align-items: center;
}

footer .col.controls {
  width: 35%;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
}

footer .col.controls li{
  margin: 0 15px;
  align-self: center;
}

footer .col.controls li button {
  cursor: pointer;
  font-size: 1rem;
  color: white;
  background-color: transparent;
  border: none;
}

footer .col.controls li button.play {
  font-size: 1.6rem;
}

footer .col.controls li button.play:hover {
  transform: scale(1.1);
}

footer .col.controls .time-bar {
  justify-content: center;
  align-items: center;
  width: 100%;
}

footer .col.controls .time-bar span {
  font-size: 0.5rem;
}

footer .col.controls .time-bar span.left {
  padding-right: 20px;
}

footer .col.controls .time-bar span.right {
  padding-left: 20px;
}

footer .duration {
  cursor: pointer;
  width: 80%;
  height: 4px;
  background-color: #5a5a5a;
  border-radius: 2px;
}

footer .listened {
  justify-content: end;
  align-items: center;
  width: 30%;
  height: 4px;
  background-color: #c1c1c1;
  border-radius: 2px;
}

footer .listened i {
  display: none;
  font-size: 0.6rem;
  color: white;
}

footer .duration:hover .listened {
  background-color: #cffb7e;
}

footer .duration:hover .listened i {
  display: block;
}

footer .col.song {
  width: 20%;
  max-width: 200px;
  justify-content: space-between;
}

footer .col.song img {
  max-width: 42px;
}

footer .col.song .info {
  flex-direction: column;
  justify-content: center;
  padding: 0 5px;
}

footer .col.song .info .album {
  font-size: 0.8rem;
}

footer .col.song .info .song-name {
  font-size: 0.6rem;
  color: #717171;
}

footer .col.volume button,
footer .col.song .favorites button {
  cursor: pointer;
  font-size: 1rem;
  margin: 0 5px;
  color: #717171;
  background-color: transparent;
  border: transparent;
}

footer .col.volume button:hover,
footer .col.song .favorites button:hover {
  color: white;
}

footer .col.volume {
  width: 200px;
}
/* fine FOOTER */


