* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: white;
}

.flex {
  display: flex;
}

.debug {
  border: 1px solid red;
}

section.top {
  width: 100%;
  height: calc(100vh - 90px);
}

section.bottom {
  width: 100%;
  height: 90px;
  background-color: rgba(0, 0, 255, 0.4);
}

h3 {
  font-size: 0.8rem;
}

.top .sidebar {
  width: 230px;
  height: 100%;
  background-color: #000000;
  padding: 25px 20px 0 20px;
}

.top .content {
  width: calc(100% - 230px);
  height: 100%;
  padding-top: 90px;
  background-color: rgba(255, 0, 0, 0.4);
  overflow: auto;
}

.content .top-bar {
  position: fixed;
  width: calc(100% - 230px);
  height: 90px;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

a {
  text-decoration: none;
  font-size: 0.8rem;
}

ul {
  list-style: none;
}

/* SIDEBAR */
.sidebar .top-side {
  width: 100%;
  height: calc(100% - 70px);
}

.top-side .menu {
  height: 170px;
}

.top-side .menu .logo-big {
  width: 150px;
  margin-bottom: 10px;
}

.top-side .menu .logo-small {
  display: none;
}

.top-side .menu li {
  padding: 3px 0;
}

.top-side .menu li a {
  color: #717171;
}

.top-side .menu li a svg {
  width: 25px;
  vertical-align: middle;
}

.top-side .menu li a svg *{
  fill: #717171;
}

.top-side .playlist {
  height: calc(100% - 170px);
  font-size: 0.8rem;
}

.top-side .playlist .new-playlist {
  cursor: pointer;
}

.top-side .playlist span {
  color: #717171;
}

.top-side .playlist i {
  color: black;
  font-size: 1.2rem;
  padding: 8px;
  background-color: #a3a3a3;
  vertical-align: middle;
  margin: 10px 10px 10px 0;
}

.playlist .list-play {
  height: calc(100% - 70px);
  overflow: auto;
}

.playlist .list-play li {
  line-height: 1.8rem;
}

.playlist .list-play a {
  color: #717171;
}

.sidebar .bottom-side {
  width: 100%;
  height: 70px;
}

.bottom-side .app,
.bottom-side .account {
  align-items: center;
}

.bottom-side img,
.bottom-side svg {
  width: 20px;
}

.bottom-side svg *{
  fill: #717171;
}

.bottom-side a.app {
  font-size: 0.8rem;
  padding-bottom: 10px;
  border-bottom: 1px solid #a3a3a3;
}

.bottom-side a.app span {
  color: #717171;
  margin-left: 10px;
}

.bottom-side div.account {
  padding-top: 10px;
}

.bottom-side div.account h3 {
  margin-left: 10px;
}

.bottom-side div.profile {
  width: 25px;
  height: 25px;
  background-color: #717171;
  border-radius: 50%;
  overflow: hidden;
}

.bottom-side div.account img {
  width: 25px;
}

.bottom-side a:hover svg *,
.top-side .menu li a:hover svg *{
  fill: white;
}

.top-side .playlist .new-playlist:hover i {
  background-color: white;
}

.bottom-side a:hover span,
.top-side .menu li a:hover span,
.top-side .playlist .new-playlist:hover span,
.playlist .list-play a:hover {
  color: white;
}
/* fine SIDEBAR */

/* CONTENT */
.content .row {
  width: 100%;
}

.content .col {
  width: calc(100% / 6);
  height: 250px;
  padding: 10px;
}

.content .card {
  width: 100%;
  height: 100%;
  background-color: green;
}

.content h1,
.content .subtitle {
  padding: 0 10px;
}
/* fine CONTENT */

/* BOTTOM */
.bottom .row {
  justify-content: space-between;
  width: 100%;
  height: 100%;
}

.bottom .col {
  width: calc(100% - 180px - 180px);
  height: 100%;
}

.bottom .col-small {
  width: 180px;
  height: 100%;
}
/* fine BOTTOM */


